.mainContainer {
  max-width: 800px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  color: bisque;
  background: rgba(10, 7, 12, 0.84);
}

.formHeader {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

.button {
  text-decoration: none;
  width: auto;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: linear-gradient(
    to left,
    rgba(210, 73, 54, 0.85),
    rgba(43, 9, 4, 0.85)
  );
  border: 2px solid rgba(233, 195, 182, 0.55);
  font-size: 1.3rem;
  color: rgba(233, 195, 182, 0.55);
  cursor: pointer;
  padding: 0.5rem;
}

.button:hover {
  transition: 0.3s;
  box-shadow: 0 0 20px 15px rgb(139 136 89 / 75%);
}

.form {
  background-color: #2e2e2e;
  /* margin: auto; */
  padding: 40px;
}

.firstContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* gap: 20px; */
  gap: 1rem;
}

.simpleInputs {
  text-align: left;
}

.labelText {
  display: block;
  font-size: 19px;
  padding: 5px;
  min-height: 30px;
  margin: 10px 0 0 0;
}

.inputForm {
  width: 85%;
  height: 25px;
  border-radius: 3px;
  background: linear-gradient(
    to left,
    rgba(210, 73, 54, 0.25),
    rgba(43, 9, 4, 0.25)
  );
  border: 2px solid rgba(233, 195, 182, 0.55);
  font-size: 1.3rem;
  color: rgba(233, 195, 182, 0.55);
  padding: 0 10px 0 10px;
}

.dangerText {
  color: red;
  font-size: 16px;
  font-weight: 500;
  /* background-color: blanchedalmond; */
  margin: 2px 0 25px 0;
  padding: 0 0 0 2px;
}

.secondContainer {
  /* background-color: cadetblue; */
  border-radius: 5px;
  /* padding: 10px 5px; */
  margin: 30px 0;
}

.checkboxGroup {
  /* background-color: cadetblue; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 20px;
  border-radius: 5px;
  padding: 20px 10px 20px 10px;
  margin: 0px 15px 5px 15px;
}

.checkboxElement {
  text-align: left;
  border-radius: 5px;
}

.checkboxInput {
  margin-right: 10px;
  accent-color: rgba(115, 37, 25, 0.825);
}

/* .checkboxLabel {
  text-align: center;
} */

.allStepParts {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.stepsCreate {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.addStepsGroup {
  display: flex;
  /* width: 80%; */
}

.stepButton {
  text-decoration: none;
  width: auto;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: linear-gradient(
    to left,
    rgba(210, 73, 54, 0.85),
    rgba(43, 9, 4, 0.85)
  );
  border: 2px solid rgba(233, 195, 182, 0.55);
  font-size: 1rem;
  color: rgba(233, 195, 182, 0.55);
  cursor: pointer;
}

.stepButton:hover {
  transition: 0.5s;
  background: linear-gradient(
    to right,
    rgba(210, 73, 54, 0.85),
    rgba(43, 9, 4, 0.85)
  );
}

.stepList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.eachStep {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.deleteBtn {
  text-decoration: none;
  width: auto;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: linear-gradient(
    to left,
    rgba(210, 73, 54, 0.85),
    rgba(43, 9, 4, 0.85)
  );
  border: 2px solid rgba(233, 195, 182, 0.55);
  font-size: 1rem;
  color: rgba(233, 195, 182, 0.55);
  cursor: pointer;
  margin-left: 10px;
}

.deleteBtn:hover {
  transition: 0.5s;
  background: linear-gradient(
    to right,
    rgba(210, 73, 54, 0.85),
    rgba(43, 9, 4, 0.85)
  );
}

.submitButton{
    justify-content: center;
    align-items: center;
    /* width: fit-content; */
}