.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: rgba(10, 7, 12, 0.84);
  width: 100%;
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  border-radius: 3px;
  padding: 1rem;
  row-gap: 1rem;
}
