.cardContainer{
    width: 305px;
    height: 285px;
    display: flex;
    flex-direction: column;
    border: 1rem;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
      to bottom,
      rgba(210, 73, 54, 0.45),
      rgba(43, 9, 4, 0.45)
    );
    border-radius: 5px;
    border: 1px solid #000;
    padding: 10px;
}

.cardContainer:hover{
    transition: 0.35s;
    background: linear-gradient(
      to bottom,
      rgba(210, 73, 54, 0.85),
      rgba(43, 9, 4, 0.85)
    );
}

.cardTitle{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: bisque;
    /* background: rgba(5, 7, 12, 0.75); */
    width: 80%;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: auto;
    padding: 1rem;
    /*  */
    text-transform: uppercase;
    /*  */
}

.linkTitle{
    text-decoration: none;
}

.cardImage{
    width: 250px;
    height: 156px;
    opacity: 0.8;
    border-radius: 5px;
    border: 1px solid #000;
}

.cardDiets{
    color: bisque;
    background: rgba(5, 7, 12, 0.75);
    border-radius: 5px;
    padding: 0.2rem;
    width: 70%;
    justify-content: center;
    align-items: center;
    height: fit-content;
    font-size: 0.75rem;
    margin: 15px 0;
}